*,html,body {
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
}

.bar {
    background-color: rgb(0, 0, 0);
    width: 100%;
    justify-content: center;
    align-items: center;

}
.namdep {
    color: rgb(255, 0, 0);
    font-size: 25px;
}
.nambel{
    color: rgb(255, 255, 255);
    font-size: 25px;
    padding-left: 20px;
}

.navigasi {
    display: flex;
    align-items: center;
    justify-content: right;
}

.navigasi>li {
    list-style-type: none;
    padding: 10px;
}

.navigasi>li>a {
    color: rgb(255, 255, 255);
    font-size: 19px;
    text-decoration: none;
}

.navigasi li a:hover {
    color: rgb(255, 0, 0);
    font-size: 20px;
    transition: font-size 0.3s ease-in-out;
}
.Ucapan {
    display: flex;
    justify-content: center;
    color: white;
    font-family: 'Times New Roman', Times, serif;
}

.Ucapan>.pan {
    color: red;
}

.gambar {
    padding: 50px;
    display: flex;
    justify-content: center;
}

.bulat{
    border-radius: 50%;
    object-fit: cover;
}

.isi {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(255, 255, 255);
}

.halo_saya {
    font-size: 20px;
}

.keahlian_utama{
    font-size: 20px;
}

.tentang_saya{
    font-size: 20px;
}

.BG {
    min-height: 100vh;
    align-items: center;
    background-image: url(thisisengineering-zBLtU0zbJcU-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}